<svg class="img-responsive" id="article-workflow" width="1644pt" height="255pt"
 viewBox="0.00 0.00 1644.00 255.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 251)">
<title>workflow</title>
<polygon fill="white" stroke="none" points="-4,4 -4,-251 1640,-251 1640,4 -4,4"/>
<!-- place_new_order -->
<g id="node1" class="node"><title>place_new_order</title>
<ellipse fill="lightblue" stroke="#333333" cx="58" cy="-123" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="58" y="-120.975" font-family="Arial" font-size="9.00">new_order</text>
</g>
<!-- transition_calculate_shipping_fee -->
<g id="node8" class="node"><title>transition_calculate_shipping_fee</title>
<polygon fill="none" stroke="#333333" points="267.5,-180.5 152.5,-180.5 152.5,-65.5 267.5,-65.5 267.5,-180.5"/>
<text text-anchor="middle" x="210" y="-120.975" font-family="Arial" font-size="9.00">calculate_shipping_fee</text>
</g>
<!-- place_new_order&#45;&gt;transition_calculate_shipping_fee -->
<g id="edge1" class="edge"><title>place_new_order&#45;&gt;transition_calculate_shipping_fee</title>
<path fill="none" stroke="#333333" d="M115.709,-123C125.975,-123 136.729,-123 147.135,-123"/>
<polygon fill="#333333" stroke="#333333" points="147.211,-124.75 152.211,-123 147.211,-121.25 147.211,-124.75"/>
</g>
<!-- place_shipping_fee -->
<g id="node2" class="node"><title>place_shipping_fee</title>
<ellipse fill="none" stroke="#333333" cx="362" cy="-123" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="362" y="-120.975" font-family="Arial" font-size="9.00">shipping_fee</text>
</g>
<!-- transition_calculate_delivery_fee -->
<g id="node9" class="node"><title>transition_calculate_delivery_fee</title>
<polygon fill="none" stroke="#333333" points="571.5,-180.5 456.5,-180.5 456.5,-65.5 571.5,-65.5 571.5,-180.5"/>
<text text-anchor="middle" x="514" y="-120.975" font-family="Arial" font-size="9.00">calculate_delivery_fee</text>
</g>
<!-- place_shipping_fee&#45;&gt;transition_calculate_delivery_fee -->
<g id="edge3" class="edge"><title>place_shipping_fee&#45;&gt;transition_calculate_delivery_fee</title>
<path fill="none" stroke="#333333" d="M419.709,-123C429.975,-123 440.729,-123 451.135,-123"/>
<polygon fill="#333333" stroke="#333333" points="451.211,-124.75 456.211,-123 451.211,-121.25 451.211,-124.75"/>
</g>
<!-- place_delivery_fee -->
<g id="node3" class="node"><title>place_delivery_fee</title>
<ellipse fill="none" stroke="#333333" cx="666" cy="-123" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="666" y="-120.975" font-family="Arial" font-size="9.00">delivery_fee</text>
</g>
<!-- transition_pay -->
<g id="node10" class="node"><title>transition_pay</title>
<polygon fill="none" stroke="#333333" points="875.5,-180.5 760.5,-180.5 760.5,-65.5 875.5,-65.5 875.5,-180.5"/>
<text text-anchor="middle" x="818" y="-120.975" font-family="Arial" font-size="9.00">pay</text>
</g>
<!-- place_delivery_fee&#45;&gt;transition_pay -->
<g id="edge5" class="edge"><title>place_delivery_fee&#45;&gt;transition_pay</title>
<path fill="none" stroke="#333333" d="M723.709,-123C733.975,-123 744.729,-123 755.135,-123"/>
<polygon fill="#333333" stroke="#333333" points="755.211,-124.75 760.211,-123 755.211,-121.25 755.211,-124.75"/>
</g>
<!-- place_payed -->
<g id="node4" class="node"><title>place_payed</title>
<ellipse fill="none" stroke="#333333" cx="970" cy="-123" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="970" y="-120.975" font-family="Arial" font-size="9.00">payed</text>
</g>
<!-- transition_validate_order -->
<g id="node11" class="node"><title>transition_validate_order</title>
<polygon fill="none" stroke="#333333" points="1179.5,-247.5 1064.5,-247.5 1064.5,-132.5 1179.5,-132.5 1179.5,-247.5"/>
<text text-anchor="middle" x="1122" y="-187.975" font-family="Arial" font-size="9.00">validate_order</text>
</g>
<!-- place_payed&#45;&gt;transition_validate_order -->
<g id="edge7" class="edge"><title>place_payed&#45;&gt;transition_validate_order</title>
<path fill="none" stroke="#333333" d="M1023.04,-146.245C1034.84,-151.517 1047.49,-157.164 1059.63,-162.59"/>
<polygon fill="#333333" stroke="#333333" points="1059.16,-164.297 1064.44,-164.738 1060.59,-161.101 1059.16,-164.297"/>
</g>
<!-- transition_inform_customer -->
<g id="node12" class="node"><title>transition_inform_customer</title>
<polygon fill="none" stroke="#333333" points="1179.5,-114.5 1064.5,-114.5 1064.5,0.5 1179.5,0.5 1179.5,-114.5"/>
<text text-anchor="middle" x="1122" y="-54.9746" font-family="Arial" font-size="9.00">inform_customer</text>
</g>
<!-- place_payed&#45;&gt;transition_inform_customer -->
<g id="edge9" class="edge"><title>place_payed&#45;&gt;transition_inform_customer</title>
<path fill="none" stroke="#333333" d="M1023.04,-100.102C1034.84,-94.9085 1047.49,-89.3459 1059.63,-84.0007"/>
<polygon fill="#333333" stroke="#333333" points="1060.57,-85.5005 1064.44,-81.8849 1059.16,-82.2968 1060.57,-85.5005"/>
</g>
<!-- place_server_validation -->
<g id="node5" class="node"><title>place_server_validation</title>
<ellipse fill="none" stroke="#333333" cx="1274" cy="-190" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="1274" y="-187.975" font-family="Arial" font-size="9.00">server_validation</text>
</g>
<!-- transition_complete -->
<g id="node13" class="node"><title>transition_complete</title>
<polygon fill="none" stroke="#333333" points="1483.5,-180.5 1368.5,-180.5 1368.5,-65.5 1483.5,-65.5 1483.5,-180.5"/>
<text text-anchor="middle" x="1426" y="-120.975" font-family="Arial" font-size="9.00">complete</text>
</g>
<!-- place_server_validation&#45;&gt;transition_complete -->
<g id="edge11" class="edge"><title>place_server_validation&#45;&gt;transition_complete</title>
<path fill="none" stroke="#333333" d="M1327.04,-166.755C1338.84,-161.483 1351.49,-155.836 1363.63,-150.41"/>
<polygon fill="#333333" stroke="#333333" points="1364.59,-151.899 1368.44,-148.262 1363.16,-148.703 1364.59,-151.899"/>
</g>
<!-- place_customer_informed -->
<g id="node6" class="node"><title>place_customer_informed</title>
<ellipse fill="none" stroke="#333333" cx="1274" cy="-57" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="1274" y="-54.9746" font-family="Arial" font-size="9.00">customer_informed</text>
</g>
<!-- place_customer_informed&#45;&gt;transition_complete -->
<g id="edge12" class="edge"><title>place_customer_informed&#45;&gt;transition_complete</title>
<path fill="none" stroke="#333333" d="M1327.04,-79.8984C1338.84,-85.0915 1351.49,-90.6541 1363.63,-95.9993"/>
<polygon fill="#333333" stroke="#333333" points="1363.16,-97.7032 1368.44,-98.1151 1364.57,-94.4995 1363.16,-97.7032"/>
</g>
<!-- place_completed -->
<g id="node7" class="node"><title>place_completed</title>
<ellipse fill="none" stroke="#333333" cx="1578" cy="-123" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="1578" y="-120.975" font-family="Arial" font-size="9.00">completed</text>
</g>
<!-- transition_calculate_shipping_fee&#45;&gt;place_shipping_fee -->
<g id="edge2" class="edge"><title>transition_calculate_shipping_fee&#45;&gt;place_shipping_fee</title>
<path fill="none" stroke="#333333" d="M267.709,-123C277.975,-123 288.729,-123 299.135,-123"/>
<polygon fill="#333333" stroke="#333333" points="299.211,-124.75 304.211,-123 299.211,-121.25 299.211,-124.75"/>
</g>
<!-- transition_calculate_delivery_fee&#45;&gt;place_delivery_fee -->
<g id="edge4" class="edge"><title>transition_calculate_delivery_fee&#45;&gt;place_delivery_fee</title>
<path fill="none" stroke="#333333" d="M571.709,-123C581.975,-123 592.729,-123 603.135,-123"/>
<polygon fill="#333333" stroke="#333333" points="603.211,-124.75 608.211,-123 603.211,-121.25 603.211,-124.75"/>
</g>
<!-- transition_pay&#45;&gt;place_payed -->
<g id="edge6" class="edge"><title>transition_pay&#45;&gt;place_payed</title>
<path fill="none" stroke="#333333" d="M875.709,-123C885.975,-123 896.729,-123 907.135,-123"/>
<polygon fill="#333333" stroke="#333333" points="907.211,-124.75 912.211,-123 907.211,-121.25 907.211,-124.75"/>
</g>
<!-- transition_validate_order&#45;&gt;place_server_validation -->
<g id="edge8" class="edge"><title>transition_validate_order&#45;&gt;place_server_validation</title>
<path fill="none" stroke="#333333" d="M1179.71,-190C1189.98,-190 1200.73,-190 1211.13,-190"/>
<polygon fill="#333333" stroke="#333333" points="1211.21,-191.75 1216.21,-190 1211.21,-188.25 1211.21,-191.75"/>
</g>
<!-- transition_inform_customer&#45;&gt;place_customer_informed -->
<g id="edge10" class="edge"><title>transition_inform_customer&#45;&gt;place_customer_informed</title>
<path fill="none" stroke="#333333" d="M1179.71,-57C1189.98,-57 1200.73,-57 1211.13,-57"/>
<polygon fill="#333333" stroke="#333333" points="1211.21,-58.7501 1216.21,-57 1211.21,-55.2501 1211.21,-58.7501"/>
</g>
<!-- transition_complete&#45;&gt;place_completed -->
<g id="edge13" class="edge"><title>transition_complete&#45;&gt;place_completed</title>
<path fill="none" stroke="#333333" d="M1483.71,-123C1493.98,-123 1504.73,-123 1515.13,-123"/>
<polygon fill="#333333" stroke="#333333" points="1515.21,-124.75 1520.21,-123 1515.21,-121.25 1515.21,-124.75"/>
</g>
</g>
</svg>
